/* Medium Style Sheet (desktops, 992px and up) */
.logo{
	margin-bottom: 40px;
}

.navbar-nav {
   
    margin-left: -16px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
    margin: 0 28px 0 0;
}

.Courses .PreNex {
	margin-right: -45px;
}

/*.carousel-inner {
    margin-left: 5%;
    margin-top: 4%;
}*/